<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <h1>Register</h1>
    <form action="/api/users/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="biography">Biography:</label>
        <textarea id="biography" name="biography"></textarea><br><br>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name"><br><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name"><br><br>
        <label for="street">Street:</label>
        <input type="text" id="street" name="street"><br><br>
        <label for="street_number">Street Number:</label>
        <input type="text" id="street_number" name="street_number"><br><br>
        <label for="apartment">Apartment:</label>
        <input type="text" id="apartment" name="apartment"><br><br>
        <label for="postal_code">Postal Code:</label>
        <input type="text" id="postal_code" name="postal_code"><br><br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="paypal_address">PayPal Address:</label>
        <input type="text" id="paypal_address" name="paypal_address"><br><br>
        <label for="profile_image">Profile Image URL:</label>
        <input type="text" id="profile_image" name="profile_image"><br><br>
        <button type="submit">Register</button>
    </form>
    <a href="/login">Already have an account? Login here</a>
</body>
</html>
